<%- include("../partials/html-head") %>
<%- include("../partials/nav") %>

<main>
<section>
  <h1>Logged Events...</h1>
  <% logEvents.forEach(logEvent => { %>
    <h2>
      <%= logEvent.name %>
      -
      <%= logEvent.location %>
      -
      <%= logEvent.date %>
      -
      <%= logEvent.eventType %>
      -
      <%= logEvent.rating %>
      -
      <%= logEvent.outsideCZ %>
      -
      <%= logEvent.entry %>
      </h2>

<% }); %>
</section>
</main>

<%- include("../partials/footer") %>