<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<title>Name: <%= logEvent.name %></title>
  <h1>location: <%= logEvent.location %></h1>
  <h1>date: <%= logEvent.date %></h1>
    <section>
      <div>Event Type: <%= logEvent.eventType %></div>
      <div>Rating: <%= logEvent.rating %></div>
      <div>Outside comfort Zone: <%= logEvent.outsideCZ %></div>
      <div>Entry: <%= logEvent.entry %> </div>
    </section>
  <h2>Add Ticket:</h2>
    <form 
      action="/flights/<%= flight._id %>/details"
      method="POST"
    >
    Seat: <input type="text" name="seat" placeholder="A1 - F99"><br>
    Price: <input type="number" name="price" min="0" placeholder="$000.00" value="currency" step="0.01"><br>
    <button type="submit">Add Ticket</button>
    </form>
  <h2>Tickets Sold</h2>
  <% if (flight.tickets.length) { %> 
    <table>
      <thead>
        <tr>
          <th>Seat</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% flight.tickets.forEach(function(ticket){ %> 
          <tr>
            <td><%= ticket.seat %></td>
            <td><%= ticket.price %></td>
          </tr>
        <% }) %> 
      </tbody>
    </table>
  <% } else { %> 
    <h3>No Tickets Yet</h3>
  <% } %> 

  <h3>Meal Options For This Flight:</h3>
  <form action="/flights/<%= flight._id %>/meals" method="POST">
    <select name="mealId">
      <% meals.forEach(function(meal) { %>
      <option value="<%= meal._id %>"><%= meal.name %></option>
      <% }) %>
    </select>
    <button type="submit">Add Meal</button>
  </form>
  <h3>Meals Selected For This Flight: </h3>
    <ul>
    <% flight.meals.forEach(meal => { %> 
      <li><%= meal.name %></li>
    <% }) %> 
    </ul>

<%- include('../partials/footer') %>