<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
<h1>Event Details:</h1>
<h2>Name: <%= logEvent.name %></h2>
<a href="/logEvents/<%=logEvent._id%>/edit">Edit Event</a>
    </section>


<%- include('../partials/footer') %>