<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Edit your Meet Up post</h1>
  <form action="/meetUps/<%= meetUp._id %>?_method=PUT" method="POST">
    <label>
      Subject: 
      <input 
        type="text"
        name="subject" 
        value="<%= meetUp.subject %>" 
        autocomplete="off"
      >
      Details: 
      <input 
        type="text"
        name="subject" 
        value="<%= meetUp.details %>" 
        autocomplete="off"
      >
    </label>
    <button type="submit">Update</button>
  </form>
</section>

<%- include('../partials/footer') %>