<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1></h1>
  <% if (user) { %>
    <h2>Add a meetup</h2>
    <form action="/meetUps" method="POST">
      <label>
        Subject:
        <input type="text" name="subject" autocomplete="off" required>
      </label>
      <button type="submit">Post</button>
    </form>
  <% } %>
  <h1>🤜🤛 Meet ups</h1>
	<ul>
    <% if (meetUps.length) { %>
      <% meetUps.forEach(meetUp => { %>
        <li>
          <a href="/meetUps/<%= meetUp._id %>"><%= meetUp.subject %></a> 
        </li>
    <% }); %>
    <% } else { %>
      <h1>Hmmm... no meet ups!</h1>
    <% } %>
  </ul>
</section>

<%- include('../partials/footer') %>