<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
	<p><%= meetUp.owner.name %> says:</p>
  <h1><%= meetUp.subject %></h1>
</section>

<%- include('../partials/footer') %>